doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Registrarse
    // CSS
    link(href='https://framework-gb.cdn.gob.mx/favicon.ico', rel='shortcut icon')
    link(href='https://framework-gb.cdn.gob.mx/assets/styles/main.css', rel='stylesheet')
    link(rel='stylesheet', href='/assets/css/app.css')
    // Respond.js soporte de media queries para Internet Explorer 8
    // ie8.js EventTarget para cada nodo en Internet Explorer 8
    //if lt IE 9
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/ie8/0.2.2/ie8.js')
  body
    // Contenido
    main.page
      .container
        .row
          .col-md-6.col-md-offset-3
            h1 Registrarse
            form.logs-form(action='/api/users', method='post')
              .form-group
                label(for='register-email') Correo electrónico:
                input#register-email.form-control(type='email', name='email', placeholder='Ingresa tu correo electrónico')
              .form-group
                label(for='register-password') Contraseña:
                input#register-password.form-control(type='password', name='password', placeholder='Ingresa tu contraseña')
                small.text-help La contraseña debe tener al menos 6 caractéres
              .form-group
                label(for='register-password-again') Repetir ontraseña:
                input#register-password-again.form-control(type='password', name='confirm_password', placeholder='Ingresa tu contraseña nuevamente')
                small.text-help La contraseña debe coincidir con la anterior
              button.btn.btn-primary.btn-block(type='submit', disabled='disabled') Registrarse
              .form-group.more-links
                a(href='/') Ya tengo cuenta
    // JS
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://framework-gb.cdn.gob.mx/gobmx.js')
    script(src='/assets/js/register.js')