<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recuperación</title>
  <!-- CSS-->
  <link href="https://framework-gb.cdn.gob.mx/favicon.ico" rel="shortcut icon">
  <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/app.css">
  <!-- Respond.js soporte de media queries para Internet Explorer 8-->
  <!-- ie8.js EventTarget para cada nodo en Internet Explorer 8-->
  <!--if lt IE 9script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/ie8/0.2.2/ie8.js')-->
</head>

<body>
  <!-- Contenido-->
  <main class="page">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="alert alert-success">
            <h4><%= title %></h4>
            <% if (typeof content !== 'undefined') { %>
              <p><%= content %></p>
            <% } %>
            <a class="btn btn-success" href="<%= redirectTo %>"><%= redirectToLinkText %></a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- JS-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
</body>

</html>